.welcomeContainer{
    display: flex;
    justify-content: space-between;
    background-color: #F6F7FB;
}

.description{
    margin-top: 130px;
    margin-left: 70px;
    width: 50%;
    height: 500px;
    font-size: 50px;
    font-weight: bold;
}

.image{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 800px;
    
}

.image img{
    transform: scaleX(-1);
    width: 100%;
}

.wel{
    color: #3083ff;
    
}

.des{
    margin-top: 20px;
    font-size: 25px;
    font-weight: normal;
    width: 80%;
    line-height: 1.4;

}

