.mapContainer{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-around;
}

.mapImage{
    margin-top: 50px;
    width: 800px;
    height: 500px;

}

.mapImage img{
    width: 100%;
    height: 100%;
}

.icon1{
    display: flex;
}

.iconImage{  
    display: flex;  
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.iconImage img{
    width: 60%;
    height: 60%;
}